<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeLeaf.org">

<head th:insert="~{usuario/template_user.html::head}">

</head>

<body>
	<div th:insert="~{usuario/template_user.html::headerLogout}">

	</div>
	<!-- Hero Section -->
	<section class="hero-section">
	</section>

	<!-- Carrusel de Promociones -->
	<section class="container mb-5">
	</section>

	<!-- Productos -->
	<section class="container mb-5" id="productos">
		<h2 class="section-title">Productos Destacados</h2>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Productos</li>
			</ol>
		</nav>
		<div class="card mb-4">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6">
						<a href="#">
							<img class="img-fluid rounded" th:src="@{/image/{img} (img=${producto.imagen})}"
								th:alt="${producto.nombre}">
						</a>
					</div>
					<div class="col-lg-6">
						<form th:action="@{/cart}" method="post">
							<input type="hidden" th:value="${producto.id}" name="id">
							<h2 class="card-title" th:text="${producto.nombre}"></h2>
							<ul class="list-group">
								<li class="list-group-item">
									<h5
										th:text="'Precio: ' + ${#strings.concat('$', #numbers.formatDecimal(producto.precio, 0, 'POINT', 0, 'POINT'))}">
									</h5>
								</li>
								<li class="list-group-item">
									<p th:text="'Descripción :' + ${producto.descripcion}"></p>
								</li>
								<li class="list-group-item">
									<h6>
										Cantidad: <input type="number" id="cantidad" name="cantidad" autocomplete="off"
											min="1" th:max="${producto.cantidad}" value="1">
									</h6>
								</li>
							</ul>
							<button type="submit" class="btn btn-dark">Añadir al carrito</button>
						</form>
					</div>
					<div></div>
				</div>
			</div>
		</div>
	</section>


	<div th:insert="~{usuario/template_user.html::footer}"></div>

	<div th:insert="~{usuario/template_user.html::jsfiles}"></div>
</body>

</html>